body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.f12 {
    font-family: Helvetica Neue;
    font-size: 12px;
    color: #27190c;
}

.l-3{
  letter-spacing: 6px;
}
.loader{
  font-size: 100px !important;
  padding: 0px 50%
}

.cursor{
  cursor: pointer;
}


.primary-bg{
  background-color: rgba(97, 100, 91, 0.13);
}
.custom-green{
    background-color: #6b6b47;
    border-radius: 0;
    border-color: #6b6b47;
    outline-color: #6b6b47;
    &:hover{
        background-color: #adad85;
        border-color: #adad85;
    }
    &:active{
        background-color: #adad85;
        border-color: #adad85;
    }
}